<!DOCTYPE html>
<html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
        <h1>the-void</h1>
        <h2>Registrierung</h2>
        <p>Du hast dich auf the-void.de angemeldet. Bitte klicke auf den folgenden Link, um den Registrierungsprozess abzuschließen:</p>
        <p><a href="http://localhost:3000?activate=<%=@user.activatekey%>">http://the-void.de?activate=<%=@user.activatekey%></a></p>
        <p></p>
        <p>
          Zugangsdaten:<br />
          E-Mail: <b><%= @user.email%></b><br />
          Login: <b><%= @password%></b><br />
          <br />
          Spieldaten:<br />
          privater Nick: <b><%= @user.onick%></b><br />
          öffentlicher Nick: <b><%= @user.nick%></b><br />
          <br />
          In diesem Spiel gibt es keine Möglichkeit, eigene Passwörter zu verwenden. Sollte das Passwort aber jemals vergessen werden, kann über die Passwort-vergessen-Funktionalität auf der Startseite ein neues Passwort generiert und an diese E-Mail-Adresse gesandt werden.
        </p>

        <p>Viel Spaß beim Zocken!</p>
    </body>
</html>