<!DOCTYPE html>
<html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
        <h1>the-void</h1>
        <h2>Neues Passwort</h2>
        <p>Ein neues Passwort wurde erstellt. Bitte klicke auf den folgenden Link, um das Spielerkonto wieder zu aktivieren:</p>
        <p><a href="http://localhost:3000?activate=<%=@user.activatekey%>">http://the-void.de?activate=<%=@user.activatekey%></a></p>
        <p></p>
        <p>
          Zugangsdaten:<br />
          E-Mail: <b><%= @user.email%></b><br />
          Login: <b><%= @password%></b><br />
          <br />
          Spieldaten:<br />
          privater Nick: <b><%= @user.onick%></b><br />
          öffentlicher Nick: <b><%= @user.nick%></b>
        </p>

        <p>Viel Spaß beim Zocken!</p>
    </body>
</html>